# Hello World Example

In [ ]:
print ("Hello World!")

x = 5

print(f"The value of x is {x}")

Hello World!
The value of x is 5

In [ ]:
print(x)

5

# Lines and Indentation
Python does not use braces({}) to indicate blocks of code for class and function definitions or
flow control. Blocks of code are denoted by line indentation, which is rigidly enforced.
The number of spaces in the indentation is variable, but all statements within the block must be
indented the same amount. For example:

In [ ]:
if 1 == 1:
  print ("Inside the If statement body")


print ("Outside the If statement body")

Inside the If statement body
Outside the If statement body

# Quotation in Python
Python accepts single ('), double (") and triple (''' or """) quotes to denote string literals, as long
as the same type of quote starts and ends the string.
The triple quotes are used to span the string across multiple lines. For example, all the following
are legal:

In [ ]:
word = 'This is a string'
sentence = "This is a sentence."

paragraph = '''This is a paragraph. It is
made up of m
ultiple
lines
and sentences.'''

# Comments in Python
A hash sign (#) that is not inside a string literal is the beginning of a comment. All characters
after the #, up to the end of the physical line, are part of the comment and the Python
interpreter ignores them.

In [ ]:
# First comment
print ("Hello, Python!") # second comment

# You can type a comment on the same line after a statement or expression:
name = "Madisetti" # This is again comment

# You can make a multi line comment with ''' or """
"""
This
Is
Multi
line
comment
"""

Hello, Python!

'\n@var1: str - this is a string variable\n@var1: str - this is a string variable\n@var1: str - this is a string variable\n'

# Multiple Statements on a Single Line
The semicolon ( ; ) allows multiple statements on a single line given that no statement starts a
new code block. Here is a sample snip using the semicolon:

In [ ]:
import sys; x = 'foo'; print(x)

foo

# Variable Types
Variables are nothing but reserved memory locations to store values. It means that when you
create a variable, you reserve some space in the memory.
Based on the data type of a variable, the interpreter allocates memory and decides what can be
stored in the reserved memory. Therefore, by assigning different data types to the variables,
you can store integers, decimals or characters in these variables.

In [ ]:
counter = 100 # An integer assignment
miles = 1000.0 # A floating point
name = "John" # A string

print (counter)
print (miles)
print (name)

100
1000.0
John

# Multiple Assignment
Python allows you to assign a single value to several variables simultaneously. For example:

In [ ]:
a = b = c = 1

# Or

a, b, c = 1, 2, "john"

# Standard Data Types

Python has five standard data types:

* Numbers
* String
* List
* Tuple
* Dictionary

# Python Numbers
Number data types store numeric values. Number objects are created when you assign a value
to them. For example:

In [ ]:
var1 = 1
var2 = 10

# Python Strings
Strings in Python are identified as a contiguous set of characters represented in the quotation
marks. Python allows either pair of single or double quotes. Subsets of strings can be taken
using the slice operator ([ ] and [:] ) with indexes starting at 0 in the beginning of the string and
working their way from -1 to the end.

The plus (+) sign is the string concatenation operator and the asterisk (*) is the repetition
operator. For example:

In [ ]:
Str = 'Hello World!'
print (Str) # Prints complete string
print (Str[0]) # Prints first character of the string
print (Str[2:5]) # Prints characters starting from 3rd to 5th
print (Str[2:]) # Prints string starting from 3rd character


print (Str * 2) # Prints string two times
print (Str + "TEST") # Prints concatenated string

Hello World!
H
llo
llo World!
Hello World!Hello World!
Hello World!TEST

In [ ]:
print (Str[-1])

!

# Python Lists
Lists are the most versatile of Python's compound data types. A list contains items separated by
commas and enclosed within square brackets ([]). To some extent, lists are similar to arrays. One of the differences between them is that all the items belonging to a list can be of different data type. The values stored in a list can be accessed using the slice operator ([ ] and [:]) with indexes
starting at 0 in the beginning of the list and working their way to end -1. The plus (+) sign is the list concatenation operator, and the asterisk (*) is the repetition operator. For example:

In [ ]:
List = [ 'abcd', 786 , 2.23, 'john', 70.2 ]
tinylist = [123, 'john']

List[0] = "zxcv"
# print(List)

# print (List) # Prints complete list
# print (List[0]) # Prints first element of the list
# print (List[1:3]) # Prints elements starting from 2nd till 3rd
# print (List[2:]) # Prints elements starting from 3rd element
# print (tinylist * 2) # Prints list two times
print (List + tinylist) # Prints concatenated lists

['zxcv', 786, 2.23, 'john', 70.2, 123, 'john']

# Python Tuples
A tuple is another sequence data type that is similar to the list. A tuple consists of a number of
values separated by commas. Unlike lists, however, tuples are enclosed within parentheses.
The main difference between lists and tuples are − Lists are enclosed in brackets ( [ ] ) and their
elements and size can be changed, while tuples are enclosed in parentheses ( ( ) ) and cannot
be updated. Tuples can be thought of as read-only lists. For example:

In [ ]:
Atuple = ( 'abcd', 786 , 2.23, 'john', 70.2 )
tinytuple = (123, 'john')
print (Atuple) # Prints complete tuple
print (Atuple[0]) # Prints first element of the tuple
print (Atuple[1:3]) # Prints elements starting from 2nd till 3rd
print (Atuple[2:]) # Prints elements starting from 3rd element
print (tinytuple * 2) # Prints tuple two times
print (Atuple + tinytuple) # Prints concatenated tuple

('abcd', 786, 2.23, 'john', 70.2)
abcd
(786, 2.23)
(2.23, 'john', 70.2)
(123, 'john', 123, 'john')
('abcd', 786, 2.23, 'john', 70.2, 123, 'john')

In [ ]:
ToList = list(Atuple)
ToList[0] = 1000
print(ToList)

[1000, 786, 2.23, 'john', 70.2]

# Python Dictionary
Python's dictionaries are kind of hash-table type. They work like associative arrays or hashes
found in Perl and consist of key-value pairs. A dictionary key can be almost any Python type, but
are usually numbers or strings. Values, on the other hand, can be any arbitrary Python object.
Dictionaries are enclosed by curly braces ({ }) and values can be assigned and accessed using
square braces ([]). For example:

In [ ]:
Dict = {}
Dict['one'] = "This is one"

print(Dict[(2,"abx","3")]) # not exist (print tuble)

k = list(Dict.keys())

# list(Dict.values())[1]

# Dict[0]


# tinydict = {'name': 'john','code':6734, 'dept': 'sales'}

# print (Dict['one']) # Prints value for 'one' key
# print (Dict[2]) # Prints value for 2 key
# print (tinydict) # Prints complete dictionary

# print (tinydict.keys()) # Prints all the keys
# print (tinydict.values()) # Prints all the values

This is two

# Python Membership Operators
Python’s membership operators test for membership in a sequence, such as strings, lists, or
tuples. There are two membership operators as explained below:

In [ ]:
a = 50
List = [1, 2, 3, 4, 5 ]
if a in List:
  print ("a is available in the given list")
else:
  print ("a is not available in the given list")

a is not available in the given list

In [ ]:
if "hello" in "hello world":
  print("yes")

yes

# IF Statement
The IF statement is similar to that of other languages. The if statement contains a logical
expression using which the data is compared and a decision is made based on the result of the
comparison.

In [ ]:
amount = int(input("Enter amount: "))

if amount<1000:
  discount = amount*0.05
  print ("Discount",discount)
elif amount<5000:
  discount = amount*0.10
  print ("Discount",discount)
elif amount < 6000:
  print("hello")
else:
  discount = amount*0.15
  print ("Discount",discount)
  print ("Net payable:",amount-discount)

Enter amount: 10000
Discount 1500.0
Net payable: 8500.0

# while Loop Statements
A while loop statement in Python programming language repeatedly executes a target statement as long as a given condition is true.
The syntax of a while loop in Python programming language is:

In [ ]:
count = 0
while (count < 9):
  print ('The count is:', count)
  count = count + 1
print ("Good bye!")

The count is: 0
The count is: 1
The count is: 2
The count is: 3
The count is: 4
The count is: 5
The count is: 6
The count is: 7
The count is: 8
Good bye!

# for Loop Statements
The for statement in Python has the ability to iterate over the items of any sequence, such as a list or a string.

In [ ]:
for x in [1, 2, 3]:
  print(x)

1
2
3

# The range() function
The built-in function range() is the right function to iterate over a sequence of numbers. It
generates an iterator of arithmetic progressions.

In [ ]:
range(5)

range(0, 5)

In [ ]:
list(range(5))

[0, 1, 2, 3, 4]

In [ ]:
for var in range(5): # or list(range(5))
  print (var)

0
1
2
3
4

In [ ]:
for letter in 'Python': # traversal of a string sequence
  print ('Current Letter :', letter)

# fruits = ['banana', 'apple', 'mango']
# for fruit in fruits: # traversal of List sequence
#   print ('Current fruit :', fruit)
# print ("Good bye!")

Current Letter : P
Current Letter : y
Current Letter : t
Current Letter : h
Current Letter : o
Current Letter : n

In [ ]:
counter = 0
while True:
  print("hello")
  counter = counter + 1

  if counter > 5:
    break

hello
hello
hello
hello
hello
hello

# break statement
The break statement is used for premature of the current loop.

In [ ]:
for letter in 'Python':
  if letter == 'h':
    break
  print ('Current Letter :', letter)

Current Letter : P
Current Letter : y
Current Letter : t

In [ ]:
var = 10
while var > 0:
  print ('Current variable value :', var)
  var = var -1

  if var == 5:
    break
  print ("Good bye!")

Current variable value : 10
Good bye!
Current variable value : 9
Good bye!
Current variable value : 8
Good bye!
Current variable value : 7
Good bye!
Current variable value : 6

# Continue statement
The continue statement in Python returns the control to the beginning of the current loop.

In [ ]:
for letter in 'Python':
  if letter == 'h':
    continue
  print ('Current Letter :', letter)

Current Letter : P
Current Letter : y
Current Letter : t
Current Letter : o
Current Letter : n

In [ ]:
var = 10
while var > 0:
  var = var -1
  if var == 5:
    continue
  print ('Current variable value :', var)
print ("Good bye!")

Current variable value : 9
Current variable value : 8
Current variable value : 7
Current variable value : 6
Current variable value : 4
Current variable value : 3
Current variable value : 2
Current variable value : 1
Current variable value : 0
Good bye!

# Functions
A function is a block of organized, reusable code

In [ ]:
def PrintStr(text : str) -> str:
  # text.
  return text

x = 6

x

6

# Default Arguments
A default argument is an argument that assumes a default value if a value is not provided in the
function call for that argument. The following example gives an idea on default arguments, it
prints default age if it is not passed:

In [ ]:
# Function definition is here
def printList(listVar):
  listVar.append(5)

L = [1,2,3,4]
printList(L)
print(L)


# Now you can call printinfo function
# printinfo( age = 50, name = "miki" )
# printinfo( name = "miki" )

[1, 2, 3, 4, 5]

# Pass by Reference vs Value
All parameters (arguments) in the Python language are passed by reference. It means if you change what a parameter refers to within a function, the change also reflects back in the calling function.

In [ ]:
def try_to_change_list_contents(the_list):
    the_list.append('four')
    # the_list1 = the_list
    # the_list1.append(65)

outer_list = ['one', 'two', 'three']

print('before, outer_list =', outer_list)

try_to_change_list_contents(outer_list)

print('after, outer_list =', outer_list)

before, outer_list = ['one', 'two', 'three']
after, outer_list = ['one', 'two', 'three', 'four']

In [ ]:
def changeMe(the_list):
  the_list = ["one", "two"]
  print(id(the_list))

outer_list = ['one', 'two', 'three']
changeMe(outer_list)
print(id(outer_list))
print(outer_list)

139086464541056
139087360899968
['one', 'two', 'three']

# The Anonymous Functions
These functions are called anonymous because they are not declared in the standard manner
by using the def keyword. You can use the lambda keyword to create small anonymous
functions.

In [ ]:
# Function definition is here
sum = lambda arg1, arg2: arg1 + arg2



# Now you can call sum as a function
print ("Value of total : ", sum( 10, 20 ))

Value of total :  30

# Iterator and Generator
Iterator is an object which allows a programmer to traverse through all the elements of a collection. In Python, an iterator object implements
two methods, iter() and next().

In [ ]:
# String, List or Tuple objects can be used to create an Iterator.
List = [1,2,3,4]

it = iter(List)

# Iterator object can be traversed using regular for statement
for x in it:
  print (x)

1
2
3
4

In [ ]:
try:
  x = 1/0
  print(x)
except:
  print("There was an error")

print ("after try except")

There was an error
after try except

In [ ]:

# or using next() function
it = iter(List)
while True:
  try:
    x = next(it)
    print (x)
  except:
    break

1
2
3
4

In [ ]:
# A generator is a function that produces or yields a sequence of values using yield method.
def generator(n): #generator function
  a = 0
  while 1:
    yield a + 1
    a = a + 1
    if a == n:
      return

f = generator(5) # f is iterator object
while True:
  try:
    print (next(f))
  except StopIteration:
    break

1
2
3
4
5

In [ ]:
f = generator(5)

print(list(f))

[1, 2, 3, 4, 5]