In [3]:
import pandas as pd

In [13]:
data = pd.read_table('Emploee table.txt', delim_whitespace=True)

C:\Users\AhmedJaber\AppData\Local\Temp\ipykernel_16404\3395093704.py:1: FutureWarning: The 'delim_whitespace' keyword in pd.read_table is deprecated and will be removed in a future version. Use ``sep='\s+'`` instead
  data = pd.read_table('Emploee table.txt', delim_whitespace=True)

In [14]:
data

,emp_id,first_name,Mid,last_name,DEPT,phone,hire_data,job,education_level,gender,birth_date,salary,bonus,COMM
0,10,CHRISTINE,I,HAAS,A00,3978,1965-01-01,PRES,18,F,1933-08-24,52750,1000,4220
1,20,MICHAEL,L,THOMPSON,B01,3476,1973-10-10,MANAGER,18,M,1948-02-02,41250,800,3300
2,30,SALLY,A,KWAN,C01,4738,1975-04-05,MANAGER,20,F,1941-05-11,38250,800,3060
3,50,JOHN,B,GEYER,E01,6789,1949-08-17,MANAGER,16,M,1925-09-15,40175,800,3214
4,60,IRVING,F,STERN,D11,6423,1973-09-14,MANAGER,16,M,1945-07-07,32250,500,2580
5,70,EVA,D,PULASKI,D21,7831,1980-09-30,MANAGER,16,F,1953-05-26,36170,700,2893
6,90,EILEEN,W,HENDERSON,E11,5498,1970-08-15,MANAGER,16,F,1941-05-15,29750,600,2380
7,100,THEODORE,Q,SPENSER,E21,972,1980-06-19,MANAGER,14,M,1956-12-18,26150,500,2092
8,110,VINCENZO,G,LUCCHESSI,A00,3490,1958-05-16,SALESREP,19,M,1929-11-05,46500,900,3720
9,120,SEAN,NaN,O'CONNELL,A00,2167,1963-12-05,CLERK,14,M,1942-10-18,29250,600,2340
10,130,DOLORES,M,QUINTANA,C01,4578,1971-07-28,ANALYST,16,F,1925-09-15,23800,500,1904
11,140,HEATHER,A,NICHOLLS,C01,1793,1976-12-15,ANALYST,18,F,1946-01-19,28420,600,2274
12,150,BRUCE,NaN,ADAMSON,D11,4510,1972-02-12,DESIGNER,16,M,1947-05-17,25280,500,2022
13,160,ELIZABETH,R,PIANKA,D11,3782,1977-10-11,DESIGNER,17,F,1955-04-12,22250,400,1780
14,170,MASATOSHI,J,YOSHIMURA,D11,2890,1978-09-15,DESIGNER,16,M,1951-01-05,24680,500,1974
15,180,MARILYN,S,SCOUTTEN,D11,1682,1973-07-07,DESIGNER,17,F,1949-02-21,21340,500,1707
16,190,JAMES,H,WALKER,D11,2986,1974-07-26,DESIGNER,16,M,1952-06-25,20450,400,1636
17,200,DAVID,NaN,BROWN,D11,4501,1966-03-03,DESIGNER,16,M,1941-05-29,27740,600,2217
18,210,WILLIAM,T,JONES,D11,942,1979-04-11,DESIGNER,17,M,1953-02-23,18270,400,1462
19,220,JENNIFER,K,LUTZ,D11,672,1968-08-29,DESIGNER,18,F,1948-03-19,29840,600,2387
20,230,JAMES,J,JEFFERSON,D21,2094,1966-11-21,CLERK,14,M,1935-05-30,22180,400,1774
21,240,SALVATORE,M,MARINO,D21,3780,1979-12-05,CLERK,17,M,1954-03-31,28760,600,2301
22,250,DANIEL,S,SMITH,D21,961,1969-10-30,CLERK,15,M,1939-11-12,19180,400,1534
23,260,SYBIL,P,JOHNSON,D21,8953,1975-09-11,CLERK,16,F,1936-10-05,17250,300,1380
24,270,MARIA,L,PEREZ,D21,9001,1980-09-30,CLERK,15,F,1953-05-26,27380,500,2190
25,280,ETHEL,R,SCHNEIDER,E11,8997,1967-03-24,OPERATOR,17,F,1936-03-28,26250,500,2100
26,290,JOHN,R,PARKER,E11,4502,1980-05-30,OPERATOR,12,M,1946-07-09,15340,300,1227
27,300,PHILIP,X,SMITH,E11,2095,1972-06-19,OPERATOR,14,M,1936-10-27,17750,400,1420
28,310,MAUDE,F,SETRIGHT,E11,3332,1964-09-12,OPERATOR,12,F,1931-04-21,15900,300,1272
29,320,RAMLAL,V,MEHTA,E21,9990,1965-07-07,FILEREP,16,M,1932-08-11,19950,400,1596
30,330,WING,NaN,LEE,E21,2103,1976-02-23,FILEREP,14,M,1941-07-18,25370,500,2030
31,340,JASON,R,GOUNOT,E21,5698,1947-05-05,FILEREP,16,M,1926-05-17,23840,500,1907
32,200010,DIAN,J,HEMMINGER,A00,3978,1965-01-01,SALESREP,18,F,1933-08-14,46500,1000,4220
33,200120,GREG,NaN,ORLANDO,A00,2167,1972-05-05,CLERK,14,M,1942-10-18,29250,600,2340
34,200140,KIM,N,NATZ,C01,1793,1976-12-15,ANALYST,18,F,1946-01-19,28420,600,2274
35,200170,KIYOSHI,NaN,YAMAMOTO,D11,2890,1978-09-15,DESIGNER,16,M,1951-01-05,24680,500,1974
36,200220,REBA,K,JOHN,D11,672,1968-08-29,DESIGNER,18,F,1948-03-19,29840,600,2387
37,200240,ROBERT,M,MONTEVERDE,D21,3780,1979-12-05,CLERK,17,M,1954-03-31,28760,600,2301
38,200280,EILEEN,R,SCHWARTZ,E11,8997,1967-03-24,OPERATOR,17,F,1936-03-28,26250,500,2100
39,200310,MICHELLE,F,SPRINGER,E11,3332,1964-09-12,OPERATOR,12,F,1931-04-21,15900,300,1272
40,200330,HELENA,NaN,WONG,E21,2103,1976-02-23,FIELDREP,14,F,1941-07-18,25370,500,2030
41,200340,ROY,R,ALONZO,E21,5698,1947-05-05,FIELDREP,16,M,1926-05-17,23840,500,1907

In [15]:
data.to_csv('Employee_table.csv', index=False)