In [1]:
pip install "pymongo[srv]"

Requirement already satisfied: pymongo[srv] in c:\users\ahmedjaber\appdata\local\programs\python\python311\lib\site-packages (4.15.5)
Requirement already satisfied: dnspython<3.0.0,>=1.16.0 in c:\users\ahmedjaber\appdata\local\programs\python\python311\lib\site-packages (from pymongo[srv]) (2.8.0)
Note: you may need to restart the kernel to use updated packages.

WARNING: pymongo 4.15.5 does not provide the extra 'srv'

[notice] A new release of pip is available: 23.2.1 -> 25.3
[notice] To update, run: python.exe -m pip install --upgrade pip

In [2]:
from pymongo import MongoClient
from pymongo.server_api import ServerApi
from pprint import pprint
from collections import defaultdict

# =========================
# 1️⃣ Connect to MongoDB Atlas
# =========================
uri = "mongodb+srv://ai2614012_db_user:4AkcD45XE98NfhCi@cluster0.9qspcwe.mongodb.net/?appName=Cluster0" # replace with you connection do not play on this data
client = MongoClient(uri,server_api=ServerApi('1'))
db = client["company_db"]

db

Database(MongoClient(host=['ac-0rzzrzk-shard-00-02.9qspcwe.mongodb.net:27017', 'ac-0rzzrzk-shard-00-00.9qspcwe.mongodb.net:27017', 'ac-0rzzrzk-shard-00-01.9qspcwe.mongodb.net:27017'], document_class=dict, tz_aware=False, connect=True, appname='Cluster0', authsource='admin', replicaset='atlas-fvwngf-shard-0', tls=True, server_api=<pymongo.server_api.ServerApi object at 0x000001CC887B92D0>), 'company_db')

In [3]:
# Send a ping to confirm a successful connection
try:
    client.admin.command('ping')
    print("Pinged your deployment. You successfully connected to MongoDB!")
except Exception as e:
    print(e)

Pinged your deployment. You successfully connected to MongoDB!

In [4]:
departments_col = db["departments"]
employees_col = db["employees"]
projects_col = db["projects"]

In [5]:
# =========================
# 2️⃣ Clean old data
# =========================
departments_col.delete_many({})
employees_col.delete_many({})
projects_col.delete_many({})

DeleteResult({'n': 3, 'electionId': ObjectId('7fffffff000000000000007f'), 'opTime': {'ts': Timestamp(1767290028, 1), 't': 127}, 'ok': 1.0, '$clusterTime': {'clusterTime': Timestamp(1767290028, 1), 'signature': {'hash': b'\xe5]\xab>\xfe\xcb\xba,\xa9E\xa4\xd1\xaf \xcb\xf8\x9c\x1d\x90p', 'keyId': 7555914609828298781}}, 'operationTime': Timestamp(1767290028, 1)}, acknowledged=True)

In [6]:
# =========================
# 3️⃣ Insert Departments
# =========================
data_dept = departments_col.insert_one({"name": "Data"})
hr_dept = departments_col.insert_one({"name": "HR"})
fin_dept = departments_col.insert_one({"name": "Finance"})

In [7]:
# =========================
# 4️⃣ Insert Employees
# =========================
ahmed_emp = employees_col.insert_one({
    "name": "Ahmed",
    "age": 26,
    "department_id": data_dept.inserted_id
})
sara_emp = employees_col.insert_one({
    "name": "Sara",
    "age": 24,
    "department_id": hr_dept.inserted_id
})
mohamed_emp = employees_col.insert_one({
    "name": "Mohamed",
    "age": 30,
    "department_id": fin_dept.inserted_id
})

In [8]:
# =========================
# 5️⃣ Insert Projects
# =========================
projects_col.insert_many([
    {"title": "AI System", "employee_id": ahmed_emp.inserted_id},
    {"title": "HR Portal", "employee_id": sara_emp.inserted_id},
    {"title": "Finance Dashboard", "employee_id": mohamed_emp.inserted_id}
])

InsertManyResult([ObjectId('6956b4c8c5c423ca4d54ddc2'), ObjectId('6956b4c8c5c423ca4d54ddc3'), ObjectId('6956b4c8c5c423ca4d54ddc4')], acknowledged=True)

In [ ]:
# =========================
# 6️⃣ Helper Function: Show Projects with Relations
# =========================
def show_projects_with_relations():
    projects = list(projects_col.find())
    print("\n--- Projects with Employee & Department ---")
    for p in projects:
        emp = employees_col.find_one({"_id": p["employee_id"]})
        dept = departments_col.find_one({"_id": emp["department_id"]})
        pprint({
            "project": p["title"],
            "employee": emp["name"],
            "department": dept["name"]
        })

In [47]:
# =========================
# 6️⃣ Helper Function: Show Projects with Relations
# =========================
def show_projects_with_relations():
    projects = list(projects_col.find())
    print("\n--- Projects with Employee & Department ---")
    for p in projects:
        emp = employees_col.find_one({"_id": p.get("employee_id")})
        if not emp:
            pprint({
                "project": p.get("title"),
                "employee": None,
                "department": None,
                "note": "employee not found"
            })
            continue
        dept = departments_col.find_one({"_id": emp.get("department_id")})
        pprint({
            "project": p.get("title"),
            "employee": emp.get("name"),
            "department": dept.get("name") if dept else None
        })

In [10]:
show_projects_with_relations()

--- Projects with Employee & Department ---
{'department': 'Data', 'employee': 'Ahmed', 'project': 'AI System'}
{'department': 'HR', 'employee': 'Sara', 'project': 'HR Portal'}
{'department': 'Finance', 'employee': 'Mohamed', 'project': 'Finance Dashboard'}

In [11]:
# =========================
# 7️⃣ 15 Exercises (Manual Relations)
# =========================
exercises = [
    "1. Print all employees",
    "2. Print all departments",
    "3. Print all projects",
    "4. Update Ahmed's age to 27",
    "5. Delete Finance department",
    "6. Find projects by employee Ahmed",
    "7. Count how many employees in each department",
    "8. Add a new project for Sara",
    "9. Rename department 'HR' to 'Human Resources'",
    "10. Add a new employee in Data department",
    "11. Delete a project by title 'HR Portal'",
    "12. Increase age of all employees by 1",
    "13. Show projects with employee & department info",
    "14. Find all employees in 'Data' department",
    "15. Count projects per employee"
]

print("\n--- 15 Exercises ---")
for e in exercises:
    print(e)

--- 15 Exercises ---
1. Print all employees
2. Print all departments
3. Print all projects
4. Update Ahmed's age to 27
5. Delete Finance department
6. Find projects by employee Ahmed
7. Count how many employees in each department
8. Add a new project for Sara
9. Rename department 'HR' to 'Human Resources'
10. Add a new employee in Data department
11. Delete a project by title 'HR Portal'
12. Increase age of all employees by 1
13. Show projects with employee & department info
14. Find all employees in 'Data' department
15. Count projects per employee

In [12]:
# Print all employees
for emp in employees_col.find():
    pprint(emp)

{'_id': ObjectId('6956b4c8c5c423ca4d54ddbf'),
 'age': 26,
 'department_id': ObjectId('6956b4c7c5c423ca4d54ddbc'),
 'name': 'Ahmed'}
{'_id': ObjectId('6956b4c8c5c423ca4d54ddc0'),
 'age': 24,
 'department_id': ObjectId('6956b4c7c5c423ca4d54ddbd'),
 'name': 'Sara'}
{'_id': ObjectId('6956b4c8c5c423ca4d54ddc1'),
 'age': 30,
 'department_id': ObjectId('6956b4c7c5c423ca4d54ddbe'),
 'name': 'Mohamed'}

In [ ]:
#2. Print all departments
for dept in departments_col.find():
    pprint(dept)

{'_id': ObjectId('6956b4c7c5c423ca4d54ddbc'), 'name': 'Data'}
{'_id': ObjectId('6956b4c7c5c423ca4d54ddbd'), 'name': 'HR'}
{'_id': ObjectId('6956b4c7c5c423ca4d54ddbe'), 'name': 'Finance'}

In [ ]:
#3. Print all projects
for proj in projects_col.find():
    pprint(proj)

{'_id': ObjectId('6956b4c8c5c423ca4d54ddc2'),
 'employee_id': ObjectId('6956b4c8c5c423ca4d54ddbf'),
 'title': 'AI System'}
{'_id': ObjectId('6956b4c8c5c423ca4d54ddc3'),
 'employee_id': ObjectId('6956b4c8c5c423ca4d54ddc0'),
 'title': 'HR Portal'}
{'_id': ObjectId('6956b4c8c5c423ca4d54ddc4'),
 'employee_id': ObjectId('6956b4c8c5c423ca4d54ddc1'),
 'title': 'Finance Dashboard'}

In [15]:
# 4. Update Ahmed's age to 27
employees_col.update_one(
    {"name": "Ahmed"},
    {"$set": {"age": 27}}
)

#print updated data
print("\n--- After Updating Ahmed's Age ---")
for emp in employees_col.find({"name": "Ahmed"}):
    pprint(emp)

--- After Updating Ahmed's Age ---
{'_id': ObjectId('6956b4c8c5c423ca4d54ddbf'),
 'age': 27,
 'department_id': ObjectId('6956b4c7c5c423ca4d54ddbc'),
 'name': 'Ahmed'}

In [19]:
#5. Delete Finance department
departments_col.delete_one({"name": "Finance"})
print("\n--- After Deleting Finance Department ---")
for dept in departments_col.find():
    pprint(dept)

--- After Deleting Finance Department ---
{'_id': ObjectId('6956b4c7c5c423ca4d54ddbc'), 'name': 'Data'}
{'_id': ObjectId('6956b4c7c5c423ca4d54ddbd'), 'name': 'HR'}

In [21]:
#6. Find projects by employee Ahmed
ahmed = employees_col.find_one({"name": "Ahmed"})
ahmed_projects = projects_col.find({"employee_id": ahmed["_id"]})
for proj in ahmed_projects:
    pprint(proj)

{'_id': ObjectId('6956b4c8c5c423ca4d54ddc2'),
 'employee_id': ObjectId('6956b4c8c5c423ca4d54ddbf'),
 'title': 'AI System'}

In [27]:
#7. Count how many employees in each department
pipeline = [
    {
        "$group": {
            "_id": "$department",
            "employee_count": {"$sum": 1}
        }
    }
]

result = employees_col.aggregate(pipeline)

for doc in result:
    print(f"Count of employees in department: {doc['employee_count']}")

Count of employees in department: 3

In [28]:
#8. Add a new project for Sara
sara = employees_col.find_one({"name": "Sara"})
projects_col.insert_one({"title": "Employee Management System", "employee_id": sara["_id"]})

InsertOneResult(ObjectId('6956b8a7c5c423ca4d54ddc5'), acknowledged=True)

In [29]:
#9. Rename department 'HR' to 'Human Resources'
departments_col.update_one(
    {"name": "HR"},
    {"$set": {"name": "Human Resources"}}
)

UpdateResult({'n': 1, 'electionId': ObjectId('7fffffff000000000000007f'), 'opTime': {'ts': Timestamp(1767291156, 15), 't': 127}, 'nModified': 1, 'ok': 1.0, '$clusterTime': {'clusterTime': Timestamp(1767291156, 15), 'signature': {'hash': b'\xdb\x8f\xfa\xa7\x82\xcd\xf2\xb2\xdf\xc0\x8c\x10p\x8a\xf5\xce\x9c\xdf\xa7\xb5', 'keyId': 7555914609828298781}}, 'operationTime': Timestamp(1767291156, 15), 'updatedExisting': True}, acknowledged=True)

In [44]:
#10. Add a new employee in Data department
data_dept = departments_col.find_one({"name": "Data"})
employees_col.insert_one({
    "name": "Ali rabie3",
    "age": 27,
    "department_id": data_dept["_id"],
    
})

InsertOneResult(ObjectId('6956bc22c5c423ca4d54ddc7'), acknowledged=True)

In [31]:
#11. Delete a project by title 'HR Portal'
projects_col.delete_one({"title": "HR Portal"})

DeleteResult({'n': 1, 'electionId': ObjectId('7fffffff000000000000007f'), 'opTime': {'ts': Timestamp(1767291317, 16), 't': 127}, 'ok': 1.0, '$clusterTime': {'clusterTime': Timestamp(1767291317, 16), 'signature': {'hash': b'\x0389B\x8c\xaf\xb9\xac\xdc\x96\x1db\\\xdf\x11\x1b\xca\xb5XA', 'keyId': 7555914609828298781}}, 'operationTime': Timestamp(1767291317, 16)}, acknowledged=True)

In [34]:
#12. Increase age of all employees by 1
employees_col.update_many(
    {},
    {"$inc": {"age": 1}}
)

UpdateResult({'n': 4, 'electionId': ObjectId('7fffffff000000000000007f'), 'opTime': {'ts': Timestamp(1767291454, 13), 't': 127}, 'nModified': 4, 'ok': 1.0, '$clusterTime': {'clusterTime': Timestamp(1767291454, 13), 'signature': {'hash': b'@\x10\x11\x11m\xa1\x12\xf8\xa9\xf1\xe52\xb0\x17\xb3\xaa \x9aG\x8a', 'keyId': 7555914609828298781}}, 'operationTime': Timestamp(1767291454, 13), 'updatedExisting': True}, acknowledged=True)

In [49]:
#13. Show projects with employee & department info
show_projects_with_relations()

--- Projects with Employee & Department ---
{'department': 'Data', 'employee': 'Ahmed', 'project': 'AI System'}
{'department': None, 'employee': 'Mohamed', 'project': 'Finance Dashboard'}
{'department': 'Human Resources',
 'employee': 'Sara',
 'project': 'Employee Management System'}

In [50]:
#14. Find all employees in 'Data' department
data_dept = departments_col.find_one({"name": "Data"})
data_employees = employees_col.find({"department_id": data_dept["_id"]})
for emp in data_employees:
    pprint(emp)

{'_id': ObjectId('6956b4c8c5c423ca4d54ddbf'),
 'age': 29,
 'department_id': ObjectId('6956b4c7c5c423ca4d54ddbc'),
 'name': 'Ahmed'}
{'_id': ObjectId('6956bc22c5c423ca4d54ddc7'),
 'age': 27,
 'department_id': ObjectId('6956b4c7c5c423ca4d54ddbc'),
 'name': 'Ali rabie3'}

In [51]:
#15. Count projects per employee
pipeline = [
    {
        "$group": {
            "_id": "$employee_id",
            "project_count": {"$sum": 1}
        }
    }
]   
result = projects_col.aggregate(pipeline)
for doc in result:
    print(f"Employee ID: {doc['_id']}, Project Count: {doc['project_count']}")

Employee ID: 6956b4c8c5c423ca4d54ddc1, Project Count: 1
Employee ID: 6956b4c8c5c423ca4d54ddc0, Project Count: 1
Employee ID: 6956b4c8c5c423ca4d54ddbf, Project Count: 1